*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* INIZIO COMMONS  */
.font-size18{
    font-size: 18px;
}
.font-size14{
    font-size: 14px;
}
.font-size16{
    font-size: 16px;
}
.font-size20{
    font-size: 20px;
}
.line-height26{
    line-height: 26px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.float::after{
    content: '';
    display: table;
    clear: both;
}
.relative{
    position: relative;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* FINE COOMONS  */
body{
    font-family: 'Open Sans Condensed', sans-serif;

}
/* inizio header  */
/* nav  */
header nav{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 1000;
}
nav .box-logo{
    width: 10%;
    height: 100%;
    line-height: 80px;
    font-size: 18px;
}
.box-logo svg{
    height: 30px;

}
nav .box-btn{
    width: 15%;
    height: 100%;
}
nav .box-liste{
    width: 75%;
    height: 100%;
    line-height: 80px;
}
nav .box-liste ul{
    width: 35%;
    text-align: center;
    list-style: none;
}
nav ul li {
    display: inline-block;
    
}
.box-liste .lista-sx li{
    width: calc(100% / 3 - 5px);
} 
.box-liste .lista-dx li, .box-btn ul li{
    width: calc(100% / 2 - 5px);
} 
.box-btn ul{
    text-align: center;
    line-height: 80px;
}
nav a{
    text-decoration: none;
    color: black;
}
.box-btn .btn-blue{
    color: white;
    background-color: #0061ff;
    padding: 8px 22px;
}
/* jumbotron  */
.jumbotron{
    height: 850px;
    width: 100%;
    padding-top: 120px;
    background-color: #b4d0e7;
    position: relative;
}
.jumbotron .box-down{
    margin-top: 30px;
}
.jumbotron h1{
    font-size: 85px;
    line-height: 108px;
    width: 84%;
    margin: auto;
    letter-spacing: -5px;
}
.jumbotron .box-image{
    width: 65%;
}
.jumbotron .box-text{
    width: 30%;
    padding-left: 8%;
}
.jumbotron .box-text p{
    margin-bottom: 30px;
}
.jumbotron .box-btn{
    margin-bottom: 30px;
}
.jumbotron .box-btn .btn-jumbo{
    text-decoration: none;
}
.jumbotron button{
    border: 0;
    background-color: transparent;
    font-size: 40px;
    display: block;
    margin-top: 50px;
}
.jumbotron .box-image img{
    width: 100%;
}
/* fine header  */
/* ANIMAZIONI  */
.btn-blue:hover{
    background-color: #3b85ff;
}
nav .border-bot:hover{
    box-shadow: inset 0px -1px 0px 0px black;
}
/* FINE ANIMAZIONI  */
/* INIZIO DEBUG */

.debug .jumbotron .box-image{
    width: 65%;
}

/* FINE DEBUG */