*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* INIZIO COMMONS  */
.font-size18{
    font-size: 18px;
}
.font-size16{
    font-size: 16px;
}
.font-size20{
    font-size: 20px;
}
.font-size50{
    font-size: 50px;
}
.line-height26{
    line-height: 26px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.float::after{
    content: '';
    display: table;
    clear: both;
}
.relative{
    position: relative;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centerx{
    left: 50%;
    transform: translateX(-50%);
}
.margin-left{
    margin-left: 15%;
}
.margin-right{
    margin-right: 2%;
}
.padding-section{
    padding-top: 120px;
}
.font-cond{
    font-family: 'Open Sans Condensed', sans-serif;

}
.font-sans{
    font-family: 'Open Sans', sans-serif;
}
/* FINE COOMONS  */
/* inizio header  */
/* nav  */
header nav{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 1000;
}
nav .box-logo{
    width: 10%;
    height: 100%;
    line-height: 80px;
    font-size: 18px;
}
.box-logo svg{
    height: 25px;

}
nav .box-btn{
    width: 15%;
    height: 100%;
}
nav .box-liste{
    width: 75%;
    height: 100%;
    line-height: 80px;
}
nav .box-liste ul{
    text-align: center;
    list-style: none;
}
nav .box-liste .lista-sx{
    width: 43%;
}
nav .box-liste .lista-dx{
    width: 47%;
}
nav ul li {
    display: inline-block;
    
}
.box-liste .lista-sx li{
    width: calc(100% / 3 - 2%);
} 
.box-liste .lista-dx li{
    width: calc(100% / 2 - 8%);
} 
nav .border-bot{
    display: inline-block   ;
}
.box-btn ul li{
    width: calc(100% / 2 - 5px);
}
.box-btn ul{
    text-align: center;
    line-height: 80px;
}
nav a{
    text-decoration: none;
    color: black;
}
.box-btn .btn-blue{
    color: white;
    background-color: #0061ff;
    padding: 8px 22px;
}
/* jumbotron  */
.jumbotron{
    height: 830px;
    width: 100%;
    padding-top: 120px;
    background-color: #b4d0e7;
    position: relative;
}
.jumbotron .box-down{
    margin-top: 30px;
}
.jumbotron h1{
    font-size: 84px;
    line-height: 110px;
    width: 84%;
    margin: auto;
    letter-spacing: -5px;
}
.jumbotron .box-image{
    width: 66%;
}
.jumbotron .box-text{
    width: 30%;
    padding-left: 8%;
}
.jumbotron .box-text p{
    margin-bottom: 30px;
}
.jumbotron .box-btn{
    margin-bottom: 30px;
}
.jumbotron .box-btn .btn-jumbo{
    text-decoration: none;
}
.jumbotron button{
    border: 0;
    background-color: transparent;
    font-size: 40px;
    display: block;
    margin-top: 50px;
}
.jumbotron .box-image img{
    width: 100%;
}
/* fine header  */
/* INIZIO MAIN  */
main .space{
    width: 100%;
    height: 100px;
}
.container-section{
    width: 65%;
    margin: auto;
}
section .colonna{
    width: calc(100% / 3);
    float: left;
}
.colonna .colon.ct{
    margin: auto;
}
.colonna .colon.dx{
    margin-left: 10%;
}
/* FINE MAIN  */
/* ANIMAZIONI  */
.btn-blue:hover{
    background-color: #3b85ff;
}

nav .border-bot:hover{
    box-shadow: inset 0px -1px 0px 0px black;
}
/* FINE ANIMAZIONI  */
/* INIZIO DEBUG */

main.debug{
    background-color: wheat;
}
.debug .colonna{
    height: 1000px;
    background-color: yellow;
    
}
.debug .colon{
    width: 90%;
    height: 100%;
    background-color: green;
    border: 1px solid black;
}
.debug .cell-up{
    height: 45px;
    border-bottom: 1px solid black;
}
.debug .cell-up{
    text-align: center;
    line-height: 45px;
}
.debug .cell-down{
    width: calc(100% - 60px);
    height: calc(100% - 105px);
    border: 1px solid black;
    margin: 30px auto;
}
.debug .row{
    background-color: yellow;
    padding-top: 50px;
}
.debug .row-inside{
    width: 100%;
    height: 220px;
    background-color: coral;
    margin: auto;
}
/* FINE DEBUG */