*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* INIZIO COMMONS  */
.font-size18{
    font-size: 18px;
}
.font-size14{
    font-size: 14px;
}
.font-size16{
    font-size: 16px;
}
.line-height26{
    line-height: 26px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.float::after{
    content: '';
    display: table;
    clear: both;
}
.relative{
    position: relative;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* FINE COOMONS  */
/* inizio header  */
/* nav  */
header nav{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 1000;
}
nav .box-logo{
    width: 15%;
    height: 100%;
    line-height: 80px;
    font-size: 18px;
}
.box-logo svg{
    height: 30px;

}
nav .box-btn{
    width: 15%;
    height: 100%;
}
nav .box-liste{
    width: 70%;
    height: 100%;
    line-height: 80px;
}
nav .box-liste ul{
    width: 40%;
    text-align: center;
    list-style: none;
}
nav ul li {
    display: inline-block;
    
}
.box-liste .lista-sx li{
    width: calc(100% / 3 - 5px);
} 
.box-liste .lista-dx li, .box-btn ul li{
    width: calc(100% / 2 - 5px);
} 
.box-btn ul{
    text-align: center;
    line-height: 80px;
}
nav a{
    text-decoration: none;
    color: black;
}
.box-btn .btn-blue{
    color: white;
    background-color: #0061ff;
    padding:10px 22px;
}
/* jumbotron  */
.jumbotron{
    width: 100%;
    background-color: #b4d0e7;
}
.jumbotron h1{
    font-size: 95px;
    line-height: 108px;
    width: 90%;
    margin: auto;
    letter-spacing: -2px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.jumbotron .box-text{
    width: 30%;
    padding-left: 5%;
    padding-top: 1%;
}
.jumbotron .box-text p{
    margin-bottom: 30px;
}
.jumbotron .box-btn{
    margin-bottom: 20px;
}
.jumbotron button{
    border: 0;
    background-color: transparent;
    font-size: 32px;
    display: block;
    margin-top: 30px;
}
/* fine header  */
/* INIZIO DEBUG */
.debug .jumbotron{
    height: 700px;
    padding-top: 80px;
    position: relative;
}
.debug .jumbotron .box-text{
    height: 300px;
}
.debug .jumbotron .box-image{
    width: 60%;
    height: 400px;
    background-color: yellow;
}

/* FINE DEBUG */